/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.section {
  display: flex;
  flex-direction: row;
  justify-content: center;

  label {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    border-bottom: 1px gray solid;
  }
}

.generators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  div {

    form {
      position: relative;
      padding: 30px 3px;
      margin: 20px;
      border: 1px dimgray solid;
      border-radius: 10px;
      width: 260px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: start;

      label:nth-child(1) {
        font-weight: bold;
        margin-bottom: 10px;
      }

      input[type='submit'] {
        position: absolute;
        left: 3px; right: 3px; bottom: 33px;
      }

      div:last-child {
        position: absolute;
        left: 3px; right: 3px; bottom: 3px;
        border-bottom: 1px gray solid;
      }
    }
  }
}
