<div>
  <%= form_with url: "/generators/pesel",
                html: { id: "gen-pesel" },
                remote: true,
                update: { success: "response", failure: "error"},
                method: :get do |form| %>
    <%= form.label "PESEL" %>
    <%= form.label :gender, "Gender:" %>
    <%= form.select :gender, [['random', 0], ['male', 1], ['female', 2]] %>
    <%= form.label :date, "Date:" %>
    <%= form.date_field :date %>
    <%= form.submit "Generate" %>

    <div>
      <span>Result: </span>
      <span id="gen-pesel-response"></span>
    </div>
  <% end %>

  <script>
      document.addEventListener("ajax:complete", function (e) {
          let [data, status] = e.detail, el = "gen-pesel-response"
          if (data.responseURL.includes("/generators/pesel")) {
              if (status === "OK") document.getElementById(el).innerText = data.responseText
              else document.getElementById(el).innerText = "Error!"
          }
      })
  </script>
</div>