<div>
  <%= form_with url: "/generators/regon",
                html: { id: "gen-regon" },
                remote: true,
                update: { success: "response", failure: "error"},
                method: :get do |form| %>
    <%= form.label "REGON" %>
    <%= form.label :mode_9, "REGON-9:" %>
    <%= form.radio_button :mode, '9', :checked => true %>
    <%= form.label :mode_14, "REGON-14" %>
    <%= form.radio_button :mode, '14' %>
    <%= form.submit "Generate" %>

    <div>
      <span>Result: </span>
      <span id="gen-regon-response"></span>
    </div>
  <% end %>

  <script>
      document.addEventListener("ajax:complete", function (e) {
          let [data, status] = e.detail, el = "gen-regon-response"
          if (data.responseURL.includes("/generators/regon")) {
              if (status === "OK") document.getElementById(el).innerText = data.responseText
              else document.getElementById(el).innerText = "Error!"
          }
      })
  </script>
</div>