<div>
  <%= form_with url: "/generators/random_str",
                html: { id: "gen-random-str" },
                remote: true,
                update: { success: "response", failure: "error"},
                method: :get do |form| %>
    <%= form.label "Random String" %>
    <%= form.label :length, "Length:" %>
    <%= form.number_field :length, value: 8, min: 1 %>
    <%= form.submit "Generate" %>

    <div>
      <span>Result: </span>
      <span id="gen-random-str-response"></span>
    </div>
  <% end %>

  <script>
      document.addEventListener("ajax:complete", function (e) {
          let [data, status] = e.detail, el = "gen-random-str-response"
          if (data.responseURL.includes("/generators/random_str")) {
              if (status === "OK") document.getElementById(el).innerText = data.responseText
              else document.getElementById(el).innerText = "Error!"
          }
      })
  </script>
</div>