<div>
  <%= form_with url: "/generators/npwz",
                html: { id: "gen-npwz" },
                remote: true,
                update: { success: "response", failure: "error"},
                method: :get do |form| %>
    <%= form.label "NPWZ" %>
    <%= form.submit "Generate" %>

    <div>
      <span>Result: </span>
      <span id="gen-npwz-response"></span>
    </div>
  <% end %>

  <script>
      document.addEventListener("ajax:complete", function (e) {
          let [data, status] = e.detail, el = "gen-npwz-response"
          if (data.responseURL.includes("/generators/npwz?")) {
              if (status === "OK") document.getElementById(el).innerText = data.responseText
              else document.getElementById(el).innerText = "Error!"
          }
      })
  </script>
</div>