<div>
  <%= form_with url: "/generators/random_num",
                html: { id: "gen-random-num" },
                remote: true,
                update: { success: "response", failure: "error"},
                method: :get do |form| %>
    <%= form.label "Random number" %>
    <%= form.label :min, "Min:" %>
    <%= form.number_field :min, value: 0 %>
    <%= form.label :max, "Max:" %>
    <%= form.number_field :max, value: 1 %>
    <%= form.submit "Generate" %>

    <div>
      <span>Result: </span>
      <span id="gen-random-num-response"></span>
    </div>
  <% end %>

  <script>
      document.addEventListener("ajax:complete", function (e) {
          let [data, status] = e.detail, el = "gen-random-num-response"
          if (data.responseURL.includes("/generators/random_num")) {
              if (status === "OK") document.getElementById(el).innerText = data.responseText
              else document.getElementById(el).innerText = "Error!"
          }
      })
  </script>
</div>