<!DOCTYPE html>
<html>
  <head>
    <title>GenConv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="section"><label>General</label></div>
    <div class="generators">
      <%= render 'layouts/gen_random_str' %>
      <%= render 'layouts/gen_random_num' %>
    </div>
    <div class="section"><label>Poland - specific</label></div>
    <div class="generators">
      <%= render 'layouts/gen_pesel' %>
      <%= render 'layouts/gen_regon' %>
      <%= render 'layouts/gen_nip' %>
      <%= render 'layouts/gen_npwz' %>
      <%= render 'layouts/gen_npwz_ph' %>
    </div>
  </body>
</html>
